.container {
  max-width: 575px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
  margin-bottom: 15px;
}

.search-result-title {
  font-size: 1rem;
}

.search-result-year,
.search-result-genre,
.watchlist-list-year,
.watchlist-list-genre {
  font-size: 0.8rem;
}

.poster-small {
  height: 100%;
  width: auto;
}

.poster-big {
  height: 300px;
  width: auto;
}

.column-add-caption {
  margin-left: 10px;
}

.container-modal {
  margin: auto;
  background-color: #575757;
}

.container-modal-window {
  width: 250px;
  margin: auto;
  background-color: #575757;
  border-radius: 25px;
}

.column-modal-full {
  width: 90%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
  }

  .column-full,
  .column-half {
    padding: 0 10px;
  }

  .column-half {
    width: 50%;
  }

  .search-result-card {
    height: 100%;
  }

  .column-card-info {
    padding-left: 20px;
  }

  .poster-small {
    height: 100%;
    width: 100%;
  }

  .poster-big {
    height: 450px;
    width: 100%;
  }

  .search-result-title,
  .watchlist-list-title {
    font-size: 1.7rem;
    padding-bottom: 20px;
  }

  .search-result-year,
  .watchlist-list-year {
    font-size: 1.2rem;
  }

  .search-result-genre,
  .watchlist-list-genre {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .column-year-detailed {
    padding-right: 30px;
  }

  .plus-icon-big {
    padding-left: 70px;
  }

  .column-add-caption {
    width: 40%;
  }

  .container-modal-window {
    width: 400px;
  }

  .column-modal-full {
    width: 80%;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 900px;
  }

  .search-result-title,
  .watchlist-list-title {
    font-size: 2rem;
    padding-bottom: 20px;
  }

  .plus-icon-big {
    padding-left: 120px;
  }
}
