body {
  background:
    linear-gradient(rgb(25, 25, 50), rgba(25, 25, 50, 0.5)),
    linear-gradient(rgba(25, 25, 50, 0.5), rgb(25, 25, 50)),
    url('../images/final-background-image.png') center;
  background-size: 1859px 1639px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* utilities */

.hidden {
  display: none;
}

.white {
  color: white;
}

.green {
  color: #00da16;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bolder;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  justify-content: right;
}

.justify-left {
  justify-content: left;
}

/* home */

.col-nav {
  margin-left: auto;
}

.column-nav-full {
  width: 90%;
  margin: auto;
}

#home-content {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: 25%;
}

.bookmark-icon-button {
  background: transparent;
  border: none;
}

#bookmark-icon {
  color: white;
  padding: 0 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.movie-journal-anchor {
  font-weight: bolder;
  font-size: 1.3rem;
  cursor: pointer;
}

.my-watchlist-anchor {
  cursor: pointer;
}

#logo {
  font-size: 2.7rem;
  color: white;
}

.movie-journal-margin {
  margin: 15px 0;
}

.search-bar-home,
.search-bar-results {
  border-radius: 25px;
  padding: 15px 25px;
  width: 100%;
  border-style: none;
  background-color: rgba(255, 255, 255, 0.224);
  transition: 0.2s ease-out;
}

.search-bar-home:focus,
.search-bar-results:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 1.5px white;
  transition: 0.2s ease-out;
}

.row-search {
  padding-top: 40px;
  position: relative;
}

.search-button-home,
.search-button-results {
  background: transparent;
  border: none;
  position: absolute;
  bottom: 15px;
  right: 17px;
  cursor: pointer;
}

.search-icon {
  font-size: 1rem;
  color: white;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.search-icon:hover {
  opacity: 1;
  transition: 0.2s;
}

::placeholder {
  color: white;
  opacity: 0.5;
}

.search-message {
  margin: 25px 0;
}

/* search results */

.row-search-results {
  padding-top: 20px;
  position: relative;
}

#search-results-content,
#search-result-detailed,
#watchlist {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.search-result-card,
.watchlist-list-card {
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.column-card-info {
  width: 70%;
}

.column-card-poster {
  width: 30%;
}

.poster-small {
  object-fit: cover;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 100%;
}

.poster-big {
  object-fit: cover;
  object-position: 100% 10%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
}

.search-result-title,
.watchlist-list-title {
  margin: 10px 15px;
}

.search-result-year,
.watchlist-list-year {
  margin: 15px 15px;
  margin-bottom: 10px;
}

.search-result-genre,
.watchlist-list-genre {
  margin: 0 15px;
  padding-bottom: 15px;
}

.row-icon {
  padding-top: 10px;
  padding-right: 15px;
}

/* details */

.plus-icon-big {
  font-size: 3rem;
  opacity: 0.7;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.plus-icon-big:hover {
  opacity: 1;
}

.plus-button-big {
  background: transparent;
  border: none;
}

.search-result-plus-icon:active {
  color: rgb(25, 211, 0);
}

.search-results-padding,
.watchlist-cards-list-padding {
  padding-bottom: 20px;
}

.row-back {
  padding: 15px;
}

.back-button,
.back-button-watchlist {
  background: transparent;
  border: none;
  cursor: pointer;
}

.back-icon {
  color: white;
  font-size: 2rem;
  opacity: 0.7;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.back-icon:hover {
  opacity: 1;
}

.detailed-card {
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 25px;
}

.container-card-info {
  padding: 25px;
}

.row-card-title {
  margin: auto;
}

.column-title-detailed {
  width: 85%;
  margin-bottom: 15px;
}

.column-year-detailed {
  justify-content: right;
  text-align: right;
  width: 15%;
  margin: auto;
}

.detailed-title,
.detailed-year,
.detailed-genre,
.detailed-director,
.detailed-cast,
.detailed-plot,
.add-caption {
  margin: 0;
}

.row-card-genre,
.row-card-director,
.row-card-cast {
  margin-bottom: 10px;
}

.column-big-plus {
  width: 20%;
  text-align: right;
}

.row-card-add {
  margin: auto;
  margin-top: 10px;
  justify-content: center;
}

.column-add-caption {
  line-height: 50px;
}

.add-caption {
  font-size: 1.7rem;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

/* watchlist */

.row-watchlist-header {
  margin-bottom: 30px;
}

.column-my-watchlist {
  margin: auto;
}

.my-watchlist-text {
  margin: 0;
}

.watchlist-row-title {
  margin-top: 15px;
}

.watchlist-row-remove {
  margin: 20px 0;
  margin-right: 30px;
}

.remove-icon {
  color: white;
  transition: 0.15s ease-in-out;
  font-size: 2rem;
  cursor: pointer;
}

.remove-icon:hover {
  color: red;
}

.remove-button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.modal-caption {
  padding: 20px 0;
  margin: auto;
  line-height: 1.6rem;
}

.row-modal-buttons {
  padding: 20px 0;
  margin: auto;
}

.column-remove,
.column-cancel {
  width: 50%;
}

.cancel-button-modal,
.remove-button-modal {
  font-size: 1rem;
  border-radius: 25px;
  padding: 15px 0;
  width: 88px;
  border: none;
  cursor: pointer;
}

.cancel-button-modal {
  background-color: #888;
  transition: 0.15s ease-in-out;
}

.cancel-button-modal:hover {
  background-color: rgba(136, 136, 136, 0.692);
}

.remove-button-modal {
  background-color: rgb(255, 60, 25);
  transition: 0.15s ease-in-out;
}

.remove-button-modal:hover {
  background-color: rgb(219, 53, 24);
}

input {
  font-size: 1.1rem;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.03);
}

.grow-icon {
  transition: all 0.2s ease-in-out;
}

.grow-icon:hover {
  transform: scale(1.2);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
