body {
  background:
    linear-gradient(rgb(25, 25, 50), rgba(25, 25, 50, 0.5)),
    linear-gradient(rgba(25, 25, 50, 0.5), rgb(25, 25, 50)),
    url('../images/final-background-image.png') center;
  background-size: 1859px 1639px;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  justify-content: right;
}

.justify-left {
  justify-content: left;
}

.col-nav {
  margin-left: auto;
}

.row-nav-full {
  margin-top: 10px;
}

.column-nav-full {
  width: 90%;
  margin: auto;
}

#home-content {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: 180px;
}

#bookmark-icon {
  color: white;
  padding: 0 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.movie-journal-anchor {
  font-weight: bolder;
  font-size: 1.4rem;
  cursor: pointer;
}

.my-watchlist-anchor {
  cursor: pointer;
}

#logo {
  font-size: 2.7rem;
  color: white;
}

.movie-journal-margin {
  margin: 15px 0;
}

.row-search {
  padding-top: 40px;
}

.search-bar-home,
.search-bar-results {
  border-radius: 25px;
  padding: 15px 25px;
  width: 100%;
  border-style: none;
  background-color: rgba(255, 255, 255, 0.224);
  position: relative;
  transition: 0.15s ease-out;
}

.search-bar-home:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 1.5px white;
  transition: 0.15s ease-out;
}

.search-bar-results:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 1.5px white;
  transition: 0.15s ease-out;
}

.search-button-results {
  background: transparent;
  border: none;
  position: relative;
  bottom: 35px;
  right: 17px;
  cursor: pointer;
}

.search-button-home {
  background: transparent;
  border: none;
  position: relative;
  bottom: 35px;
  right: 17px;
  cursor: pointer;
}

.search-icon {
  position: relative;
  font-size: 1rem;
  color: white;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.15s ease-out;
}

.search-icon:hover {
  opacity: 1;
  transition: 0.15s;
}

::placeholder {
  color: white;
  opacity: 0.5;
}

.search-message {
  margin-bottom: 25px;
  margin-top: 0;
}

/* search results */

.row-search-results {
  padding-top: 20px;
}

#search-results-content,
#search-result-detailed,
#watchlist {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.search-result-card,
.watchlist-list-card {
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.column-card-info {
  width: 70%;
}

.column-card-poster {
  width: 30%;
}

.poster-small {
  object-fit: cover;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 100%;
}

.poster-big {
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
}

.search-result-title,
.watchlist-list-title {
  margin: 10px 15px;
}

.search-result-year,
.watchlist-list-year {
  margin: 15px 15px;
  margin-bottom: 10px;
}

.search-result-genre,
.watchlist-list-genre {
  margin: 0 15px;
  padding-bottom: 15px;
}

.row-icon {
  padding-top: 10px;
  padding-right: 15px;
}

.search-result-plus-icon {
  font-size: 1.7rem;
  cursor: pointer;
}

.plus-icon-big {
  font-size: 3rem;
  cursor: pointer;
}

.plus-button-big {
  background: transparent;
  border: none;
}

.search-result-plus-icon:active {
  color: rgb(25, 211, 0);
}

.search-results-padding,
.watchlist-cards-list-padding {
  padding-bottom: 20px;
}

.row-back {
  padding: 15px;
}

.back-button,
.back-button-watchlist {
  background: transparent;
  border: none;
  cursor: pointer;
}

.back-icon {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.detailed-card {
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 25px;
}

.container-card-info {
  padding: 25px;
}

.row-card-title {
  margin: auto;
}

.column-title-detailed {
  width: 85%;
  margin-bottom: 15px;
}

.column-year-detailed {
  justify-content: right;
  text-align: right;
  width: 15%;
  margin: auto;
}

.detailed-title,
.detailed-year,
.detailed-genre,
.detailed-director,
.detailed-cast,
.detailed-plot,
.add-caption {
  margin: 0;
}

.row-card-genre,
.row-card-director,
.row-card-cast {
  margin-bottom: 10px;
}

.column-big-plus {
  width: 20%;
  text-align: right;
}

.row-card-add {
  margin: auto;
  margin-top: 10px;
  justify-content: center;
}

.column-add-caption {
  /* width: 60%; */
  line-height: 50px;
}

.add-caption {
  font-size: 1.7rem;
  cursor: pointer;
}

.row-watchlist-header {
  margin-bottom: 50px;
}

.column-my-watchlist {
  margin: auto;
}

.my-watchlist-text {
  margin: 0;
}

.watchlist-row-title {
  margin-top: 15px;
}

/* text styling */
input {
  font-size: 1.1rem;
}

.white {
  color: white;
}

.green {
  color: #00da16;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bolder;
}
