body {
  background:
    linear-gradient(rgb(25, 25, 50), rgba(25, 25, 50, 0.5)),
    linear-gradient(rgba(25, 25, 50, 0.5), rgb(25, 25, 50)),
    url('../images/final-background-image.png') center;
  background-size: 1859px 1639px;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  justify-content: right;
}

.justify-left {
  justify-content: left;
}

.col-nav {
  margin-left: auto;
}

.row-nav-full {
  margin-top: 10px;
}

.column-nav-full {
  width: 90%;
  margin: auto;
}

.home-content {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: 180px;
}

#bookmark-icon {
  color: white;
  padding: 0 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.movie-journal-anchor {
  font-weight: bolder;
  font-size: 1.4rem;
}

.my-watchlist-anchor {
  cursor: pointer;
}

#logo {
  font-size: 2.7rem;
  color: white;
}

.movie-journal-margin {
  margin: 15px 0;
}

.row-search {
  padding-top: 40px;
}

.search-bar {
  border-radius: 25px;
  padding: 15px 25px;
  width: 100%;
  border-style: none;
  background-color: rgba(255, 255, 255, 0.224);
  position: relative;
}

.search-bar:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 1.5px white;
  transition: 0.15s;
}

.search-button {
  background: transparent;
  border: none;
  position: relative;
  bottom: 34px;
  right: 15px;
  cursor: pointer;
}

#search-icon {
  position: relative;
  font-size: 1rem;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

.search-icon {
  position: relative;
  font-size: 1rem;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

#search-icon:hover {
  opacity: 1;
  transition: 0.15s;
}

::placeholder {
  color: white;
  opacity: 0.5;
}

/* search results */

.row-search-results {
  padding-top: 20px;
}

.search-results-content {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.search-result-card {
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
}

.column-one-half {
  width: 70%;

  /* border: 0.5px dotted white; */
}

.column-one-half-poster {
  width: 30%;
}

.poster-small {
  object-fit: cover;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 100%;

  /* height: 100%; */
}

.search-result-title {
  margin: 10px 15px;
}

.search-result-year {
  margin: 15px 15px;
  margin-bottom: 10px;

  /* font-size: 0.8rem; */
}

.search-result-genre {
  margin: 0 15px;
  padding-bottom: 15px;
}

.row-icon {
  padding-top: 10px;
  padding-right: 15px;
}

#search-result-plus-icon {
  font-size: 1.7rem;
}

.search-results-padding {
  padding-bottom: 15px;
}

/* etc. */
input {
  font-size: 1.1rem;
}

.white {
  color: white;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}
